{% extends 'base.html.twig' %}
{% block title %}Étudiants{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Étudiants</h1>
    {% if user_role == 'administrateur' or user_role == 'pilote' %}
    <a href="/students/create" class="btn btn--primary">+ Créer un étudiant</a>
    {% endif %}
</div>
<div class="search-bar">
    <form method="get" action="/students">
        <input class="search-bar__input" type="text" name="q" value="{{ filters.q ?? '' }}" placeholder="Rechercher un étudiant...">
        <div class="filter-row">
            <button class="btn btn--primary" type="submit">Rechercher</button>
        </div>
    </form>
</div>
<div>
    {% for student in students %}
    {% include 'components/user_card.html.twig' with { user: student, url: '/students/show?id=' ~ student.id } %}
    {% endfor %}
</div>
<div class="pagination">
    {% if current_page > 1 %}
    <a href="/students?page={{ current_page - 1 }}" class="pagination__btn">Précédent</a>
    {% endif %}
    <span class="pagination__info">Page {{ current_page }} / {{ total_pages }}</span>
    {% if current_page < total_pages %}
    <a href="/students?page={{ current_page + 1 }}" class="pagination__btn">Suivant</a>
    {% endif %}
</div>
{% endblock %}