{% extends 'base.html.twig' %}
{% block title %}Offres de stage{% endblock %}
{% block content %}
    <div class="offers-grid">
    {% for offer in offers %}
        <div class="offer-card">
        <a href="/offers/show?id={{ offer.id }}" class="offer-card__title">{{ offer.titre }}</a>
        <p class="offer-card__company">{{ offer.nom }}</p>
        <p class="offer-card__location">{{ offer.ville }}</p>
        <p class="offer-card__date">{{ offer.date_debut }}</p>
        <p class="offer-card__duration">{{ offer.duree_semaines }}</p>
        <p class="offer-card__salary">{{ offer.gratification }}</p>
        </div>
    {% endfor %}
    </div>

    <div class="pagination">
        {% if current_page > 1 %}
            <a href="/offers?page={{ current_page - 1 }}" class="pagination__btn">Précédent</a>
        {% endif %}
        <span class="pagination__info">Page {{ current_page }} / {{ total_pages }}</span>
        {% if current_page < total_pages %}
            <a href="/offers?page={{ current_page + 1 }}" class="pagination__btn">Suivant</a>
        {% endif %}
    </div>
{% endblock %}