{% extends 'base.html.twig' %}
{% block title %}
    Offres de stage
{% endblock %}
{% block content %}
    <div>
        <a href="/offers">Retour</a>
        <div>
        <p>{{ offer.titre }}</p>
        <p>{{ offer.nom }}</p>
        <p>{{ offer.ville }}</p>
        <p>{{ offer.date_debut }}</p>
        <p>{{ offer.duree_semaines }}</p>
        <p>{{ offer.description }}</p>
        <p>{{ offer.gratification }}</p>
        <form method="post" action="/offers/apply" enctype="multipart/form-data">
            <input type="hidden" name="offre_id" value="{{ offer.id }}">
            <label>CV : <input type="file" name="cv" required></label>
            <label>Lettre de motivation : <input type="file" name="lm" required></label>
            <button type="submit">Postuler</button>
        </form>
        <form method="post" action="/offers/delete">
            <input type="hidden" name="id" value="{{ offer.id }}">
            <button type="submit">Supprimer</button>
        </form>
        </div>
    </div>
{% endblock %}