{% extends 'base.html.twig' %}
{% block title %}
    Offres de stage
{% endblock %}
{% block content %}
    <div>
        <div>
        <p>{{ offer.titre }}</p>
        <p>{{ offer.nom }}</p>
        <p>{{ offer.ville }}</p>
        <p>{{ offer.date_debut }}</p>
        <p>{{ offer.duree_semaines }}</p>
        <p>{{ offer.gratification }}</p>
        </div>
    </div>
{% endblock %}