<div class="offer-card">
    <a href="/offers/show?id={{ offer.id }}" class="offer-card__title">{{ offer.titre }}</a>
    <p class="offer-card__company">{{ offer.nom }}</p>
    <p class="offer-card__location">Lieu : {{ offer.ville }}</p>
    <p class="offer-card__date">Début : {{ offer.date_debut }}</p>
    <p class="offer-card__duration">Durée : {{ offer.duree_semaines }} semaines</p>
    <p class="offer-card__salary">Gratification : {{ offer.gratification }}€/mois</p>
</div>